<div class="row">

  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="name-email-login">Username Or Email Address:</label>
        <input class="form-input" type="text" id="name-email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>

    <p>Not a user? <a href="/signup">Sign up</a> for free</p>
  </div>

</div>

<script src="../js/login.js"></script>
